[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
bridge_program = "4n1ZgVeynaczVMmdSW5d4s5NNRBbF4rojRwNCq4bbyWJ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn mocha tests/**/*.js --timeout 1000000"

[hooks]
